/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
 	margin: 0;
 	padding: 0;
 }

.intro{
	margin-top: 0px;
	height: 400px;
	padding-top: 200px;
	text-align: center;
	font-size: 100px;
	font-family: arial;
	color: white;
}
.logo {
	width:100px;
	height: 100px;
}

.top-banner {
	width: 100%;
	height: 100px;
	background-color: black;
	padding-left: 20px;
	padding-top: 5px;
}

.main-body {
	height: 900px;
	background-color: #333333;
}

.coolbeans {
	display: none;
}